$enable-rounded: false;

$body-bg: #302b27;

$dark: #1B264F;
$light: #F5F3F5;
$primary: #274690;

$modal-content-bg: $body-bg;
$modal-content-color: $light;

$link-color: $light;
$link-decoration: underline;
